* {
   font-family: 'Crete Round', serif;
}

/* general */
html {
   height: 280%;
   background-image: url(images/14986_bis.jpg);
   /*  <a href="https://fr.freepik.com/photos-vecteurs-libre/fond">Fond vecteur créé par starline - fr.freepik.com</a>  */
   background-attachment: fixed;
}

body {

   background-repeat: no-repeat;
   height: 100%;
}

h1 {
   font-size: 3em;
}

.haut_page {
   position: fixed;
   bottom: 60px;
   right: 60px;
}

.haut_page img:hover {
   width: 4em;
}

figcaption {
   margin-top: 2em;
}

a {
   text-decoration: none;
   color: white;
}

/* Header */
header {
   color: black;
   text-align: center;
   width: 100%;
   margin: auto;
   margin-bottom: 4em;
}

/* grand conteneur */
.conteneur_global {
   background-image: url(images/910CV38t5XL._SL1500_bis.jpg);
   background-attachment: fixed;
   width: 72%;
   margin: auto;
   height: 100%;
   overflow: hidden;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.block_accueil {
   width: 40%;
   height: 55em;
   margin: 1em;
   padding: 1em;
   background-color: rgba(119, 119, 119, 0.8);
   color: white;
   overflow: hidden;
   box-shadow: 7px 7px 7px black;
}

.block_accueil h2 {
   text-align: center;
}

.block_accueil figure,
figcaption {
   margin-top: 5em;
}

.block_accueil a:hover {
   color: black;
   font-size: 1.2em;
   font-weight: bold;
}

.float_img {
   float: left;
   margin: 0 0.4em 0 0;
}

#logo1 {
   float: left;
   margin-top: -8em;
}

.block_accueil article {
   width: 100%;
   height: 15em;
   background-color: rgba(255, 255, 255, 0.2);
   box-shadow: 5px 5px 5px #555;
}

.block_accueil p {
   text-align: justify;
}

/* menu déroulant */
#liste_deroulante {
   padding: 10;
   margin: 4em 0 0 -1.3em;
   list-style: none;
   text-align: center;
   width: 10%;
   min-width: 100px;
   float: left;
   position: fixed;
}

#liste_deroulante ul {
   padding: 0;
   margin: 10;
   list-style: none;
   text-align: center;
}

#liste_deroulante li {
   background-image: -webkit-linear-gradient(top, #FFD101 0%, #333A40 100%);
   border-radius: 0px;
   margin-bottom: 0px;
   box-shadow: 3px 3px 3px #777;
   border: solid 1px #333A40
}

#liste_deroulante li li {
   max-height: 0;
   overflow: hidden;
   transition: all .5s;
   border-radius: 0;
   background: #444;
   box-shadow: none;
   border: none;
   margin: 0
}

#liste_deroulante a {
   display: block;
   text-decoration: none;
   color: #fff;
   padding: 8px 0;
   font-family: 'Crete Round', serif;
   font-size: 1.2em;
}

#liste_deroulante ul li a,
#liste_deroulante li:hover li a {
   font-size: 1em
}

#liste_deroulante li:hover {
   background: #999
}

#liste_deroulante li li:hover {
   background: #999;
}

#liste_deroulante ul li:last-child {

   border: none;
}

#liste_deroulante li:hover li {
   max-height: 15em;
}

/* Footer */
#footer {
   height: 2em;
   display: flex;
   justify-content: space-around;
}

.element {
   display: inline-block;
   color: white;
   /*   background-image: -webkit-linear-gradient(top, #999 0%, #333A40 100%);*/
   background-image: url(images/pneu_mini2_bis.png);
   padding: 1em;
   padding-bottom: 1.7em;
   width: 9em;
   border-radius: 50em 50em 0 0;
   text-align: center;
}

#footer li {
   display: inline-block;
}

#footer a:hover {
   color: #FFD101;
}

.img_lien {
   padding: 0;
}

li ul li {
   line-height: 1em;
}

.reseaux {
   display: flex;
   justify-content: space-around;
   margin-right: 2.5em;
}


/* Animation CSS */

.anim  {
   animation-duration: 3s;
   animation-name: slidein;
}


@keyframes slidein {
   from {
      margin-left: 100%;
      width: 300%;
   }

   75% {
      font-size: 200%;
      margin-left: 25%;
      width: 150%;
   }

   to {
      margin-left: 0%;
      width: 100%;
   }

/* responsive design */
@media all and (max-width: 1024px) {
   * {
      font-size: 0.9em;
   }


   html {
      height: 450%;
   }

   #liste_deroulante {
      max-height: 400px;
      overflow: scroll;
   }

   #logo1 {
      display: none;
   }

   header h1 {
      font-size: 1.5em;
   }

   /* grand conteneur */
   .conteneur_global {
      width: 95%;
      display: flex;
      flex-direction: column;
   }

   .block_accueil {
      width: 85%;
   }

   .reseaux {
      margin-right: 5em;
   }

   .haut_page {
      bottom: 30px;
      right: 5px;
   }

   .haut_page img {
      width: 3em;
   }
}
